/* code written by Karisnonye */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: rgb(236, 24, 141);
    
} 

.dip{
    background-color: #333;
    background-size: 100px;
    animation-name: fire;
    animation-delay: 20s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

@keyframes fire{
    0% {top: -900px;}
    100%{background-image: url("https://res.cloudinary.com/karis/image/upload/v1590414206/449458_qod1b7.png"),
        url("https://res.cloudinary.com/karis/image/upload/v1590414206/449458_qod1b7.png"),
        url("https://res.cloudinary.com/karis/image/upload/v1590414206/449458_qod1b7.png"),
        url("https://res.cloudinary.com/karis/image/upload/v1590414206/449458_qod1b7.png");
        background-repeat: no-repeat,  no-repeat,  no-repeat,  no-repeat;
        background-size: 200px, 200px, 200px, 200px;
        background-position: left -6% top 0%, left -2% top 0%, right -2% top 0%, right -5% top 0% ;
        }
}

.bite{
    padding-top:60px;
    text-align: center;
    font-size: 80px;
    font-family: cursive; 
    animation-name: bite;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: initial
}
@keyframes bite{
    0%{ color: rgb(236, 24, 141); font-size: 200px;}
    20%{ color: rgb(22, 194, 36); }
    40%{ color: rgb(185, 41, 214); transform: rotateY(180deg);}
    60%{ color: rgba(98, 186, 245, 0.116);}
    80%{ color: rgb(172, 240, 14);}
    100%{ color: rgb(230, 40, 87);}
}

#img1{
    object-fit: cover;
    object-position: top;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    animation-name: img1;
    animation-duration: 12s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

}
@keyframes img1{
    0% {top: -900px; }
    100%{top: 35px; transform: rotateY(360deg);}
}

#img2{
    object-fit: cover;
    object-position: top;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    animation-name: img2;
    animation-duration: 9s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes img2{
    0% {top: -900px;}
    100%{top: 35px; transform: rotateY(360deg);}
}

#img1:hover{
    width: 350px;
    height: 350px;
    
}
#img2:hover{
    width: 350px;
    height: 350px;
}

